/* Box Model */
	html {
		box-sizing: border-box;
		line-height: 1.4;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}

/* Color Palette */
/*
#f65d35	(246,93,53)
#81bb05	(129,187,5)
#ffba07	(255,186,7)
#04a5f0	(4,165,240)
#7b7b7b	(123,123,123)
#dddddd (221,221,221)
*/

body {
	background: #7b7b7b;
}
/* Map */
#map {
	margin: 0 auto;
	width: 80%;
	height:450px;
}
/* Search */
#searcharea {
	margin: 0 auto;
	text-align: center;
	background: #04a5f0;
	padding: 10px;
	width: 80%;
  -webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

#searcharea label {
	font: bold 1.3em Arial;
	text-transform: uppercase;
	padding-bottom:  5px;
	color: #ffba07;
}

#searcharea p {
	margin: 0;
	line-height: 1em;
	padding-bottom: 5px;
}

#searcharea input {
	width: 80%;
	text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* Results */
#update {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: 80%;
	margin: 0 auto;
  -webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

#update ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#update ul li {
	width: 100%;
	padding: 0 20px;
	background: #ddd;
	padding-bottom: 10px;
	height: 110px;
	overflow: hidden;
  margin: 2px 0;

	-webkit-animation: myanim 1s;
	-moz-animation: myanim 1s;
	-o-animation: myanim 1s;
	animation: myanim 1s;

	-webkit-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

#update li:hover {
	background: #FFF;
	min-height: 180px;
	height: 300px;
	overflow: visible;
}

#update h2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	padding-bottom: 5px;
	padding-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color: #f65d35;
	margin-bottom: 10px;
}

#update img {
	float: left;
	width: 80px;
	margin-right: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

@-webkit-keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@-moz-keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@-o-keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}

@keyframes myanim {
	0% { opacity: 0.3; }
	100% { opacity: 1.0; }
}
